* {
    line-height: 150%;
}
body {
    overflow-x:hidden;
}
footer {
    color: #FFF9F4;
}

/* ------------------------FOOTER-------------------------- */

.footer {
    background: #AB8261;
    padding: 60px 0;
    height: auto;
    width: 100vw;
    bottom: 0;
}
.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
.footer__block {
    display: flex;
    gap: 40px 15px;
    justify-content: space-between;
}
.footer__social path {
    transition: var(--transition);
}
.footer__social:hover path {
    fill: var(--orange-col);
}
.footer__logo {
    margin-top: -30px;
}
.footer__item {
    margin-bottom: 25px;
}
.footer__socials {
    display: flex;
    gap: 15px;
}
.footer-number {
    font-size: 26px;
    margin-bottom: 50px;
}
.footer__item::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    opacity: 0;
    background: #FFA55C;
    border-radius: 50%;
    transition: 0.5s;
}
.footer__item:hover::before {
    opacity: 1;
    transition: 0.5s;
}
.footer__con--mobile {
    display: none;
}
.footer-number {
    transition: var(--transition);
}
.footer-number:hover {
    color: var(--orange-col);
}
@media (max-width: 1140px) {
    .footer__con {
        display: none;
    }
    .footer__con--mobile {
        display: block;
    }
}
@media (max-width: 980px) {
    .footer__block {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer__con--mobile {
        display: none;
    }
    .footer__con {
        display: block;
    }
    .socials, .clock {
        justify-content: center;
        display: flex;
    }
}